Blackhole2020.xcworkspace/xcuserdata/
Blackhole2020.xcodeproj/project.xcworkspace/xcuserdata/
.DS_store
build
Pods/Pods.xcodeproj/xcuserdata/
design
Blackhole2020/rel/
certs/
Pods
Podfile.lock
releases